.log {
    display: flex;
    margin-top: 12px;
}

.log__content {
    margin: 0;
    padding: 8px 12px;
    background: #F2F2F2;
    border-radius: 6px;
    overflow-x: auto;
    flex: 1;
}

@media (max-width: 425px) {
    .log {
        padding: 0;
    }
}